@model Lnk.Application.DTOs.AccountDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-6">
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-6">
                    <img src="~/admin/assets/img/avatars/1.png" alt="user-avatar"
                        class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <label for="upload" class="btn btn-sm btn-primary me-3 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="ri-upload-2-line d-block d-sm-none"></i>
                            <input type="file" asp-for="Avatar" class="account-file-input" hidden
                                accept="image/png, image/jpeg" />
                            @* id="upload" *@
                        </label>
                        <button type="button" class="btn btn-sm btn-outline-danger account-image-reset mb-4">
                            <i class="ri-refresh-line d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                        </button>

                        <div>Allowed JPG, GIF or PNG. Max size of 800K</div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <form id="formAccountSettings" method="POST" asp-controller="Account" asp-action="Create">
                    <div class="row mt-1 g-5">
                        <div class="col-md-12">
                            <div class="form-floating form-floating-outline">
                                @Html.DropDownListFor(model => model.RoleName,
                                         (IEnumerable<SelectListItem>)ViewBag.Role,
                                         "Vui lòng chọn quyền",
                                         new { @class = "select2 form-select" })
                                <label for="RoleName">Quyền</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating form-floating-outline">
                                <input class="form-control" type="text" asp-for="Username" value="John" autofocus />
                                <label for="firstName">Tên đăng nhập</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-outline">
                                <input class="form-control" type="text" asp-for="Password" value="Doe" />
                                <label for="lastName">Mật khẩu</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-outline">
                                <input class="form-control" type="text" asp-for="Fullname" value="john.doe@example.com"
                                    placeholder="john.doe@example.com" />
                                <label for="email">Họ và tên</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-outline">
                                <input type="text" class="form-control" asp-for="Email" value="ThemeSelection" />
                                <label for="organization">Email</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="text" asp-for="Phone" class="form-control"
                                        placeholder="202 555 0111" />
                                    <label for="phoneNumber">Số điện thoại</label>
                                </div>
                                <span class="input-group-text">VN (+84)</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-outline">
                                <input type="text" class="form-control" asp-for="Address" placeholder="Address" />
                                <label for="address">Địa chỉ</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="IsActive" id="isActive" />
                                <label class="form-check-label" for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="btn btn-primary me-3">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Reset</button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
                <form id="formAccountDeactivation" onsubmit="return false">
                    <div class="form-check mb-6 ms-3">
                        <input class="form-check-input" type="checkbox" name="accountActivation"
                            id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account
                            deactivation</label>
                    </div>
                    <button type="submit" class="btn btn-danger deactivate-account" disabled="disabled">
                        Deactivate Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
